# Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [6]:
curr_pop=1000
for i in range(1,11):
    curr_pop=curr_pop +(curr_pop*0.1)
    print(f"Population at the end of year {i}: {int(curr_pop)}")

Population at the end of year 1: 1100
Population at the end of year 2: 1210
Population at the end of year 3: 1331
Population at the end of year 4: 1464
Population at the end of year 5: 1610
Population at the end of year 6: 1771
Population at the end of year 7: 1948
Population at the end of year 8: 2143
Population at the end of year 9: 2357
Population at the end of year 10: 2593

Sequence sum
1/1! + 2/2! + 3/3! + ...

In [11]:
n=int(input('enter the number'))
fact=1
result=0

for i in range(1,n+1):
    fact= fact*i
    result= result + i/fact
    print(result)

enter the number2
1.0
2.0


Nested loops refer to the situation when one loop is present inside another loop. This allows for more complex iterations and can be useful in solving certain types of problems.

In [12]:
fruits=['apple','banana','chiku']
colors=['red','yellow','brown']
for fruit in fruits:
    for color in colors:
        print(fruit,color)

apple red
apple yellow
apple brown
banana red
banana yellow
banana brown
chiku red
chiku yellow
chiku brown

In [13]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

Pattern 1
*
**
***

In [1]:
rows=int(input('enter a number'))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

enter a number5
*
* *
* * *
* * * *
* * * * *

Pattern 2
1
121
12321
1234321

In [3]:
rows=int(input('enter a number of rows'))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
        print(k,end='')
    print()

enter a number of rows5
1
121
12321
1234321
123454321

In [4]:
#break

for i in range(1,6):
    if i ==3:
        break
    print(i)

1
2

In [5]:
#continue
for i in range(1,6):
    if i ==3:
        continue
    print(i)

1
2
4
5

#pass
pass statement is a placeholder statement that does nothing. It is used when a statement is syntactically required, but no action is needed. It is commonly used as a placeholder for future code or to create an empty function or class.

In [6]:
#pass
for i in range(1,6):
    if i ==3:
        pass
    
    else:
        print(i)

1
2
4
5

In [12]:
lower=int(input('enter a number'))
upper=int(input('enter a number'))

for i in range(lower,upper+1):
    for j in range(2,i):
        if i%j == 0:
            break
        else:
            print(i)
    # prime starts from 2

enter a number10
enter a number100
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
21
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49
51
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
55
55
55
57
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
63
65
65
65
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
69
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
75
77
77
77
77
77
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
81
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
85
85
85
87
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
91
91
91
91
91
93
95
95
95
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
99

# creating string

In [17]:
my_str='sagar'
print(my_str)  #single quoted

my_str1="hi ,hello" 
print(my_str1) #double qouted

my_str2='''hie sagar,how wre you'''
print(my_str2) #triple qouted

sagar
hi ,hello
hie sagar,how wre you

In [18]:
my_string = ""

In [19]:
print(my_string) #empty string

### Accessing Substrings from a String
Indexing: Indexing allows you to access individual characters in a string by referring to their position or index. In Python, indexing starts from 0 for the first character, and negative indexing starts from -1 for the last character

In [22]:
s='hello world'
print(s[1])
print(s[2:5])
print(s[-1])
print(s[::-1])

e
llo
d
dlrow olleh

In [26]:
print(s[-6::1])

 world

In Python, strings are immutable, meaning they cannot be changed once created. However, you can perform various operations to create new strings with modified content

1]Deleting Characters: You cannot directly delete characters from a string, but you can create a new string by excluding the characters you want to delete.
2]Editing Characters: To edit or replace characters in a string, you need to create a new string with the desired modifications.

In [32]:
my_string='hello , world'
my_string=my_string[:5] +' python '+my_string[8:]

In [33]:
my_string

'hello python world'

str' object does not support item assignment
----->1 s = 'hello world'
----> 2 s[0] = 'H'


 s = 'hello world'
----> 2 del s[-1:-5:2]
      3 print(s)

'str' object does not support item deletion

In [34]:
s='hi hello'
del s
print(s)

NameError: name 's' is not defined

In [35]:
print('delhi'+ ' '+'mumbai')

delhi mumbai

In [36]:
print('delhi'*3)

delhidelhidelhi

In [37]:
'pune' !='pune'

False

In [38]:
'pune'=='mumbai'

False

In [39]:
'pune'>'mumbai'

True

In [40]:
'pune'<'mumbai'

False

In [41]:
'hello' and 'world'

'world'

In [42]:
'hello' or 'world'

'hello'

In [43]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [44]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [45]:
'D' in 'delhi'

False

In [46]:
'p' not in 'pune'

False

.how this compariosn operator work on strings?
Lexicographically means ordering or comparing strings based on their alphabetical order. In Python, lexicographic order refers to the way strings are sorted based on the alphabetical order of their characters. It compares strings character by character, starting from the leftmost character, and determines their relative order.


>: Greater than operator checks if one string is lexicographically greater than the other.
<: Less than operator checks if one string is lexicographically smaller than the other.

in: The in operator checks if a substring is present within a string.
not in: The not in operator checks if a substring is not present within a string.

'hello' and 'world':

The and operator returns the first falsy operand or the last operand if all are truthy.
In this case, both 'hello' and 'world' are non-empty strings, and non-empty strings are considered truthy.
Therefore, the and operator evaluates both operands and returns the last truthy operand, which is 'world'.
Output: 'world'
'hello' or 'world':

The or operator returns the first truthy operand or the last operand if all are falsy.
In this case, both 'hello' and 'world' are non-empty strings, and non-empty strings are considered truthy.
Therefore, the or operator evaluates both operands and returns the first truthy operand, which is 'hello'.
Output: 'hello'
'' or 'world':

The or operator returns the first truthy operand or the last operand if all are falsy.
In this case, the first operand '' is an empty string, and empty strings are considered falsy.
Therefore, the or operator evaluates the first operand and since it is falsy, it proceeds to the second operand 'world'.
Output: 'world'
'' and 'world':

The and operator returns the first falsy operand or the last operand if all are truthy.
In this case, the first operand '' is an empty string, and empty strings are considered falsy.
Therefore, the and operator evaluates the first operand and since it is falsy, it returns the first falsy operand without evaluating the second operand.
Output: '' 
    
    
    
'hello' and 'world' returns 'world' because both operands are truthy, and the and operator returns the last truthy operand.
'hello' or 'world' returns 'hello' because both operands are truthy, and the or operator returns the first truthy operand.
'' or 'world' returns 'world' because the first operand is falsy, and the or operator returns the second operand.
'' and 'world' returns '' (empty string) because the first operand is falsy, and the and operator returns the first falsy operand without evaluating the second operand.
These examples demonstrate how logical operators behave when applied to string operands in Python.

In [48]:
len('hello world')

11

len() function in Python includes spaces when calculating the length of a string. The len() function returns the total number of characters in a string, including any spaces or whitespace characters

In [49]:
max('hello world')

'w'

In [50]:
min('hello world')

' '

The max() and min() functions work with strings by comparing the characters lexicographically based on their Unicode values. Keep in mind that these functions consider uppercase characters to have a lower Unicode value than lowercase characters, so the results may not always be what you expect if you have mixed case characters.

In [51]:
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [52]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [53]:
s='hello world'
print(s.capitalize()) # not permanant
print(s)

Hello world
hello world

In [54]:
s.title()

'Hello World'

In [56]:
s.upper()

'HELLO WORLD'

In [57]:
'HII'.lower()

'hii'

In [58]:
"HIllo".swapcase()

'hiLLO'

In [59]:
'my name is sagar'.count('i')

1

In [63]:
'my name is sagar'.find('x') # if  not in string give -1

-1

In [62]:
'my name is sagar'.index('x') # error gives

ValueError: substring not found

In [64]:
'my name is sagar'.endswith('sagar')

True

In [65]:
'my name is sagar'.startswith('my')

True

In [66]:
name='sagar'
age=23
'my name is {} and my age is {}'.format(name,age)

'my name is sagar and my age is 23'

In [67]:
'my name is sagar'.split()

['my', 'name', 'is', 'sagar']

In [68]:
'my name is sagar'.replace('sagar','tejas')

'my name is tejas'

In [69]:
" ".join(['my', 'name', 'is', 'sagar'])

'my name is sagar'

In [70]:
"sagar      ".strip()

'sagar'

In [71]:
#isalnum() method checks whether all the characters in a string are alphanumeric 
my_s='hello123'
my_s.isalnum()

True

In [72]:
#isalpha() method checks whether all the characters in a string are alphabetic 
my_s1='hello'
my_s1.isalpha()

True

In [73]:
#isdigit() method checks whether all the characters in a string are digits.
my_s2='123456'
my_s2.isdigit()

True

In [74]:
#isidentifier() method checks whether a string is a valid identifier according to Python's naming rules.
my_string = "hello"
print(my_string.isidentifier())   # Output: True

my_string = "123hello"
print(my_string.isidentifier())   # Output: False "123hello" starts with a digit, which is not a valid identifier according to Python's rules.

True
False

In [1]:
# Find the length of a given string without using the len() function
s= input('Enter a string:')
counter=0
for i in s:
    counter+=1
print('length of the string:',counter)

Enter a string:Tejas ghodake
length of the string: 13

In [3]:
#Extract username from a given email. 
s=input('Enter the Email:')
pos=s.index('@')
print(s[0:pos])

Enter the Email:tejasghodake20@gmail.com
tejasghodake20

In [4]:
# Count the frequency of a particular character in a provided string. 
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.
s=input('enter the string')
term=input('what would like to search for')
counter=0
for i in s:
    if i==term:
        counter+=1
print('frequncy',counter)

enter the emailtejasghodake20@gmail.com
what would like to search forh
frequncy 1

In [5]:
# Write a program which can remove a particular character from a string
s=input('enter the string')
term=input('what would like to search for')
result=''
for i in s:
    if i !=term:
        result+=i
print(result)

enter the stringsagar
what would like to search fora
sgr

In [8]:
## Write a python program to convert a string to title case without using the title()
s= input('enter a string:')
l=[]
for i in s.split():
    l.append(i[0].upper() + i[1:].lower())
print(" ".join(l))

enter a string:sagAR
Sagar

In [10]:
# Write a program that can convert an integer to string.

number=int(input('enter a number:'))
digits='0123456789'
result=''
while number!=0:
    result=digits[number%10]+result
    number//=10
print(result)
print(type(result))

enter a number:34560
34560
<class 'str'>

In [15]:
# Write a program to count the number of words in a string without split()
s= input('enter the string:')
l=[]
temp=' '
for i in s:
    if i !=' ':
        temp+=i
    else:
        l.append(temp)
        temp=' '
l.append(temp)
print(l)

enter the string:hi hello how
[' hi', ' hello', ' how']

In [20]:
# Write a program that can check whether a given string is palindrome or not.
# abba
s= input('enter the string :')
flag= True
for i in range(0,len(s)//2):
    if s[i] != s[len(s)-i-1]:
        flag=False
        print('the string is not palindrom')
        break
if flag:
    print('palindrome')

enter the string :rama
the string is not palindrom