A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

1]Ordered
2]Unchangeble
3]Allows duplicate

In [1]:
t1=()
print(t1)

()

In [4]:
#creating tuple with single item
t2=('hello',)
print(t2)
print(type(t2))

('hello',)
<class 'tuple'>

In [5]:
#homo
t3=(1,2,3,4)
print(t3)

(1, 2, 3, 4)

In [6]:
#hetero
t4=('teajs',1,True)
print(t4)

('teajs', 1, True)

In [7]:
#nested tuple
t5=(1,2,3,(4,'tejas'))

In [8]:
print(t5)

(1, 2, 3, (4, 'tejas'))

In [9]:
#using type conversion
t6=tuple('hello')
print(t6)

('h', 'e', 'l', 'l', 'o')

In [10]:
#indexing
print(t3[0])
print(t3[2])
print(t4[-1])
print(t5[3][1])

1
3
True
tejas

In [12]:
#slicing
print(t3[0:])
print(t4[-1:-3:-1])

(1, 2, 3, 4)
(True, 1)

In [13]:
print(t5[1:])

(2, 3, (4, 'tejas'))

In [14]:
print(t5[-1][0])

4

In [16]:
#immutable just like string
t6=(10,20,30,40,50)
print(t6)
t6[0]=100
print(t6)

(10, 20, 30, 40, 50)

TypeError: 'tuple' object does not support item assignment

In [17]:
del t6[0]

TypeError: 'tuple' object doesn't support item deletion

In [18]:
del t6
print(t6)

NameError: name 't6' is not defined

In [19]:
t1=(1,2,3,4)
t2=(5,6,7,8)

t1+t2

(1, 2, 3, 4, 5, 6, 7, 8)

In [20]:
t1*t2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [21]:
t1*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [22]:
#membership
1 in t1

True

In [23]:
6 not in t1

True

In [25]:
for i in t1:
    print(i)

1
2
3
4

In [26]:
len(t1)

4

In [27]:
max(t1)

4

In [28]:
min(t1)

1

In [30]:
type(sorted(t1,reverse=True))




in Python and provide a tuple as input, it will return a sorted list, even if the input is a tuple.?
The reason for this behavior is that tuples are immutable, and the sorted() function returns a new sorted object. Since lists are mutable and allow dynamic modifications, the sorted result is returned as a list.

If you want to keep the sorted result as a tuple, you can convert the sorted list back into a tuple using the tuple() function.

list

In [32]:
t1.count(1)

1

In [33]:
t1.count(50)

0

In [34]:
#index
t1.index(2)

1

#diiference list vs tuple

Syntax:

Lists are defined using square brackets: [], e.g., [1, 2, 3].
Tuples are defined using parentheses: (), e.g., (1, 2, 3).
Mutability:

Lists are mutable, allowing you to modify, add, or remove elements.
Tuples are immutable, meaning their elements cannot be modified once the tuple is created.
Speed:

Tuples are generally faster to create and access than lists because of their immutability.
Lists are slower than tuples because they require additional memory allocations when elements are added or removed.
Memory:

Tuples are more memory-efficient than lists because they are immutable. Once a tuple is created, its size remains constant.
Lists can dynamically grow or shrink, requiring more memory management.
Built-in Functionality:

Both lists and tuples have common built-in functionalities like indexing, slicing, and iteration.
Lists have additional built-in methods for manipulation, such as append(), extend(), insert(), remove(), pop(), etc.
Tuples lack such methods because they are immutable.
Error Proneness:

Lists, due to their mutability, are more prone to accidental modifications. It's possible to inadvertently change an element or introduce bugs while manipulating a list.
Tuples, being immutable, provide more safety by preventing accidental modifications.
Usability:

Lists are commonly used when you need a collection that can be modified, resized, or reordered.
Tuples are often used when you want to group related data that should remain constant, such as coordinates, database records, or function return values.

In [1]:
import time
L=list(range(100000000))
t=tuple(range(100000000))

start= time.time()
for i in L:
    i*10
print('end time',time.time()-start)

end time 24.616588592529297

In [2]:
start= time.time()
for i in t:
    i*10
print('end time',time.time()-start)

end time 23.18082094192505

In [3]:
a=[1,2,3]
b=a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [6]:
a=(1,2,3)
b=a
a= a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

In [8]:
#tuple unpacking
my_tuple=(1,2,3)
a,b,c=my_tuple

In [9]:
print(a)
print(b)
print(c)

1
2
3

In [10]:
c,d=(1,2,3)
print(c,d)

ValueError: too many values to unpack (expected 2)

In [14]:
a,b,*others=(1,2,3,4,5)
print(a,b)
print(others)

1 2
[3, 4, 5]

In [15]:
#zipping tuples
a=(1,2,3,4)
b=(5,6,7,8)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

Sets
A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:

Unordered
Mutable
No Duplicates
Can't contain mutable data types

In [16]:
#creating sets
s=set()
print(s)

set()

In [17]:
#1D and 2 D
s1={1,2,3}
print(type(s1),s1)

<class 'set'> {1, 2, 3}

In [18]:
s2={1,2,3,{4,5,6}}
print(type(s2),s2)
#direct 2d set is not posssible in python

TypeError: unhashable type: 'set'

, you can create a set of tuples to represent a two-dimensional set-like structure. Each tuple within the set can represent a pair of elements, such as coordinates or key-value pairs.

In [19]:
my_set = {('a', 'b'), ('c', 'd'), ('e', 'f')}
print(type(my_set),my_set)

<class 'set'> {('a', 'b'), ('e', 'f'), ('c', 'd')}

In [20]:
s1={1,2,3}
s2={3,1,2}
s1==s2
#the order of elements doesn't matter. The comparison only checks whether both sets contain the same elements, regardless of their order

True

 Sets in Python do not support indexing and slicing because they are unordered collections. The elements in a set are stored in a hash table, which allows for fast membership testing and eliminates duplicates. However, this hash-based storage does not maintain the original order of elements, making indexing and slicing operations irrelevant for sets.

When you need to access specific elements or a range of elements based on their position, you should consider using other data structures like lists or tuples.

In [22]:
s={1,2,3,4}
s.add(5)
print(s)
s.update((5,6,7))
print(type(s),s)

{1, 2, 3, 4, 5}
<class 'set'> {1, 2, 3, 4, 5, 6, 7}

In [23]:
del s[0]

TypeError: 'set' object doesn't support item deletion

In [24]:
s.discard(5) # item gives

In [25]:
s

{1, 2, 3, 4, 6, 7}

In [26]:
s.remove(3)

In [27]:
s

{1, 2, 4, 6, 7}

In [28]:
s.pop()

1

In [29]:
s.pop(7)

TypeError: set.pop() takes no arguments (1 given)

pop() method removes and returns an arbitrary element from my_set. Since sets are unordered, the specific element removed cannot be determined. It's important to note that the behavior of pop() may vary between different runs or implementations.
remove() method removes the specified element from the set. If the element is not found in the set, a KeyError is raised. It modifies the set in-place and does not return any value.
pop() method removes and returns an arbitrary element from the set. Since sets are unordered, the specific element removed cannot be determined. It modifies the set in-place and returns the removed element.
clear() method removes all elements from the set, making it an empty set. It modifies the set in-place and does not return any value.

In [30]:
s.clear()

In [31]:
s

set()

In [1]:
s_fun={1,4,5,6,7,8,9}
print(len(s_fun))
print(max(s_fun))
print(min(s_fun))
print(sorted(s_fun,reverse=True))

7
9
1
[9, 8, 7, 6, 5, 4, 1]

In [2]:
#union
s1={1,2,3,4,5}
s2={6,7,8,9,10}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
s2.union(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
s1.update(s2)

In [5]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
# intersection/intersection_update
s1={1,2,3,4,5}
s2={2,5,6}
s1.intersection(s2)

{2, 5}

In [9]:
s1.intersection_update(s2)

In [10]:
s1

{2, 5}

In [11]:
s1={1,2,3,4,5}
s2={2,5,6}
s1.difference(s2)

{1, 3, 4}

In [12]:
s1.difference_update(s2)

In [13]:
s1

{1, 3, 4}

difference() method in Python sets returns a new set that contains elements present in the original set (s1) but not in the set specified as an argument (s2).

In [14]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [15]:
s1.symmetric_difference_update(s2)

In [16]:
s1

{1, 2, 3, 6, 7, 8}

symmetric_difference() method in Python sets returns a new set that contains elements that are present in either of the original sets (s1 or s2), but not in both.

isdisjoint() method checks whether the set has no elements in common with the other_set. It returns True if the sets are disjoint (no common elements), and False otherwise.

issubset() method checks whether all elements of the set are present in the other_set. It returns True if the set is a subset of other_set, and False otherwise.

issuperset() method checks whether all elements of the other_set are present in the set. It returns True if the set is a superset of other_set, and False otherwise.

In [17]:
s1={1,2,3,4,5,6}
s2={1,2,3}
s1.isdisjoint(s2)

False

In [18]:
s1.issubset(s2)

False

In [19]:
s1.issuperset(s2)

True

In [20]:
s1={1,2,3}
s2=s1.copy()

In [21]:
print(id(s1))
print(id(s2))

2208138218624
2208138219072

In [22]:
#Frozen set is just an immutable version of a Python set object
#Immutability: Once a frozen set is created, you cannot modify its elements or add/remove elements. It is a read-only data structure.

#Uniqueness: Like sets, frozen sets only contain unique elements. Duplicates are automatically removed.

#Hashability: Frozen sets are hashable and can be used as elements in other sets or as keys in dictionaries

In [23]:
frozen=frozenset([1,2,3,1])
print(frozen,type(frozen))

frozenset({1, 2, 3}) <class 'frozenset'>

In [24]:
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

In [25]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [27]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'sagar' , 'age' : 23 , 'gender' : 'male' }

Characterstics:

Mutable
Indexing has no meaning
keys can't be duplicated
keys can't be mutable items

In [1]:
#empty dict
d={}
print(type(d),d)

<class 'dict'> {}

In [2]:
#1d dict
d1={'name':'sagar','age':23,'gender':'male'}
print(d1)

{'name': 'sagar', 'age': 23, 'gender': 'male'}

In [3]:
d2={(1,2,3):1,"name":'sagar'} # with mixed keys
d2

{(1, 2, 3): 1, 'name': 'sagar'}

In [5]:
#2d dict-->jason
d3={'name':'nitish','college':'dy.patil','sem':4,'subjects':{'ml':80,'ai':88,'python':90}}
print(d3)

{'name': 'nitish', 'college': 'dy.patil', 'sem': 4, 'subjects': {'ml': 80, 'ai': 88, 'python': 90}}

In [6]:
# using sequence and dict function
d4=dict([('name','sagar'),('age',23),('gender','male')])
d4

{'name': 'sagar', 'age': 23, 'gender': 'male'}

In [7]:
#duplicate keys
d5={'name':'sagar','name':'tejas'}
d5

{'name': 'tejas'}


In Python dictionaries, each key must be unique. When you define a dictionary, if you use the same key multiple times, only the last occurrence of the key will be stored in the dictionary. This is because dictionary keys are used to retrieve corresponding values, and having multiple keys with the same name would create ambiguity

In [8]:
my_dict={'name':'sagar','age':23}
my_dict['age']

23

In [9]:
my_dict.get('age')

23

In [11]:
d3['subjects']['ml']

80

In [13]:
d4['subject']='ai'
d4

{'name': 'sagar', 'age': 23, 'gender': 'male', 'subject': 'ai'}

In [14]:
d4['iq']=120
d4

{'name': 'sagar', 'age': 23, 'gender': 'male', 'subject': 'ai', 'iq': 120}

In [16]:
d3['subjects']['stat']=80

In [17]:
d3

{'name': 'nitish',
 'college': 'dy.patil',
 'sem': 4,
 'subjects': {'ml': 80, 'ai': 88, 'python': 90, 'stat': 80}}

In [18]:
d = {'name': 'sagar', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
d.pop(3)

3

In [19]:
d

{'name': 'sagar', 'age': 32, 'gender': 'male', 'weight': 72}

In [21]:
d.popitem()

('gender', 'male')

In [22]:
d

{'name': 'sagar', 'age': 32}

In [23]:
del d['name']

In [24]:
d

{'age': 32}

In [25]:
d.clear()

In [26]:
d

{}

In [27]:
del d3['subjects']['python']

In [28]:
d3

{'name': 'nitish',
 'college': 'dy.patil',
 'sem': 4,
 'subjects': {'ml': 80, 'ai': 88, 'stat': 80}}

In [30]:
#Dictionary Operations
#Membership
'subjects' in d3
#Iteration

True

In [32]:
d_1={'name': 'sagar', 'age': 32, 'gender': 'male', 'weight': 72}

for i in d_1:
    print(i,d_1[i])

name sagar
age 32
gender male
weight 72

In [33]:
d_1.items()

dict_items([('name', 'sagar'), ('age', 32), ('gender', 'male'), ('weight', 72)])

In [34]:
d_1.keys()

dict_keys(['name', 'age', 'gender', 'weight'])

In [35]:
d_1.values()

dict_values(['sagar', 32, 'male', 72])

In [36]:
len(d_1)

4

In [37]:
max(d_1)

'weight'

In [38]:
min(d_1)

'age'

In [44]:
sorted(d_1.keys(),reverse=True)

['weight', 'name', 'gender', 'age']

In [42]:
#update
d1={1:1,2:2,3:3,4:4}
d2={5:5,6:6}
d1.update(d2)

In [43]:
d1

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}

# {key :value for i in iterable}

In [46]:
# print 1st 10 numbers and their squares
{i:i*2 for i in range(1,11)}

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [48]:
distances={'delhi':1000,'mumbai':2000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000)])

In [49]:
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0}

In [50]:
days=['sun','mon','tue','fri']
values=[30.2,30.6,34.2,30.6]
{i:j for (i,j) in zip(days,values)}

{'sun': 30.2, 'mon': 30.6, 'tue': 34.2, 'fri': 30.6}

In [51]:
products={'phone':10,'laptop':20,'charger':30}
{i: j for (i,j) in products.items() if j>11}

{'laptop': 20, 'charger': 30}

In [52]:
#print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)}for i in range(1,5)}

{1: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10},
 2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}